*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.grid-wrap{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
    margin: 3% 20%;
}

.img{
    width: 355px;
    background: cyan;
    padding: 25px;
}

.text{
    background: darkorange;
    color: aliceblue;
    padding: 20px;
}