@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

/* scrool bar */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar:hover {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(128, 128, 128, 0.7);
}

.heading {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 3.5rem;
  letter-spacing: 1px;
}

.head {
  margin: auto 10px;
}

.grid-wrapper {
  display: grid;
  grid-gap: 3rem;
  grid-row-gap: 3.5rem;
  margin: 3% 20% 2% 20%;
  grid-template-columns: 1fr 1fr 1fr;
}

.item {
  height: 70px;
  background: rgba(128, 128, 128, 0.24);
  /* margin: 20px; */
  padding: 10px;
  border-radius: 8px;
}

/* .item:hover {
  box-shadow: #ff0080 10px 10px 30px 10px;
} */

.item a {
  text-decoration: none;
  color: black;
  font-size: 1.1rem;
  text-transform: capitalize;
  text-align: center;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.odd {
  display: none;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

footer p {
  margin: 4rem auto 1rem auto;
  font-size: 1.1rem;
}

.ui {
  background: #40e0d0;
  background: -webkit-linear-gradient(to right, #ff0080, #ff8c00, #40e0d0);
  background: linear-gradient(to right, #ff0080, #ff8c00, #40e0d0);
  border-radius: 5px;
  padding: 3px 7px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
}

@media only screen and (max-width: 1030px) {
  .heading {
    margin-top: 4rem;
    margin-bottom: 7rem;
  }
  .grig-wrapper {
    grid-template-columns: 1fr 1fr;
    margin: 8% 18% 9% 20%;
  }

  footer p {
    margin: 5.5rem auto 1rem auto;
  }
}

@media only screen and (max-width: 770px) {
  .grid-wrapper {
    grid-template-columns: 1fr 1fr;
    margin: 12% 18% 5% 20%;
  }

  .odd {
    display: inherit;
  }
}

@media only screen and (max-width: 650px) {
  .grid-wrapper {
    grid-template-columns: 1fr 1fr;
  }

  .heading {
    margin: 1.5rem auto 2rem auto;
  }
}

@media only screen and (max-width: 550px) {
  .grid-wrapper {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 415px) {
  .heading {
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 380px) {
  .heading {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 325px) {
  .heading {
    font-size: 1rem;
    margin-bottom: 3rem;
  }
}

@media only screen and (max-width: 285px) {
  .heading {
    font-size: 0.93rem;
  }
}
